.wrapcontainer{
    display: flex;
   justify-content: center;
   position: relative;
   
    

}
.wrapbox{
    width: 1000px;
    height: 500px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: relative;
 
}

.imgsky{
    height: 500px;
    width: 1000px;
    border: 6px solid rgb(112, 63, 63);
   
}

.imgcactus{
    width: 200px;
    height: 300px; 
    transform: rotate(-45deg);
    border: 6px solid rgb(112, 63, 63);
}


.road{
    width: 200px;
    height: 300px;
    transform: rotate(45deg);
    border: 6px solid rgb(112, 63, 63);
  
}

.box1{
    width: 200px;
    height: 300px;
  
    margin-right: 25px;
    position: absolute;
    right: 690px;

}



.box2{
    width: 200px;
    height: 300px;
    
    position: absolute;
    position: absolute;
    right: 99px;
}

.label{
    color:black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn, .input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#message{
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Theform{
    width: 200px;
    height: 330px;
    background-color: rgb(112, 63, 63);
    border: solid black 6px;
    position: absolute;
}
.btn{
    border-radius: 4px;
    color:black;
   
}
.maintitle{
    position: absolute;
    top: 14px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

